{% extends 'base.html' %}

{% block title %}Auth{% endblock %}

{% block content %}

<h1>Auth page</h1>

<div>
    <form method="post" action="/login">
        <label for="username_filed">Логин</label>
        <input type="text" name="username" id="username_field">
        
        <label for="password_field">Пароль</label>
        <input type="password" name='password' id="password_field">

        <button>Войти</button>
    </form>
</div>












{% endblock %}